@using Neurino.Core.Models
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <DynamicMenu MenuGroups="menuGroups" />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private List<MenuGroup> menuGroups = new List<MenuGroup>();

    protected override void OnInitialized()
    {
        menuGroups = new()
        {
            new MenuGroup
            {
                Title = "Kartoteki",
                Items = new()
                {
                    new MenuItem { Title = "Kontrahenci", Link = "/" },
                    new MenuItem { Title = "Pracownicy", Link = "/test" }
                }
            },
            new MenuGroup
            {
                Title = "Magazyn",
                Items = new()
                {
                    new MenuItem { Title = "Przyjęcia", Link = "/" },
                    new MenuItem { Title = "Wydania", Link = "/" }
                }
            }
        };
    }
}