@page "/"

@using Neurino.Core
@using Neurino.Core.Atributes
@using Neurino.Core.Models
@using Neurino.Shared.UI.Components
@using System.Reflection

@inject ApplicationContext AppContext
@inject HttpClient Http


<div class="d-flex" style="height: 100vh;">


    <div class="p-3 flex-grow-1">
        <h3>Witamy!</h3>
        <p>Tu pojawi się zawartość po kliknięciu.</p>
        <p>Zalogowany użytkownik: @AppContext.GetLoggedUserName()</p>
        <p>Ilość modułów: @AppContext.GetLoadedModules().Count()</p>

        <h5>Menu zarejestrowane klasy:</h5>
        <ul>
            @foreach (var type in AppContext.GetMenuItems())
            {
                <li>T: @type.FullName</li>  @* lub @type.Name jeśli chcesz tylko nazwę klasy *@
            }
        </ul>

    </div>
</div>

@code {


    protected override async Task OnInitializedAsync()
    {

        if (!AppContext.ModuleLoaded)
        {

            if (OperatingSystem.IsBrowser())
            {
                await LoadModulesWeb();
            }
            else
            {
                LoadModules();
            }

            AppContext.ModuleLoaded = true;
        }

        
    }

    private async Task LoadModulesWeb()
    {
        var loader = new ModuleWebLoader(); // zwykła klasa
        var modules = await loader.LoadModules(Http);

        foreach (var module in modules)
        {
            AppContext.RegisterModule(module);
        }
        RegisterMenuInContext();
        StateHasChanged();
    }

    private void LoadModules()
    {
        var loader = new ModuleLoader();
        loader.LoadModules();

        foreach (var module in loader.Modules)
        {
            AppContext.RegisterModule(module);
        }
        RegisterMenuInContext();

    }

    private void RegisterMenuInContext()
    {
        var classes = AppDomain.CurrentDomain.GetAssemblies()
            .SelectMany(a => a.GetTypes())
            .Where(t => t.GetCustomAttributes<MenuRegistrationAttribute>().Any())
            .ToList();

        AppContext.RegisterMenuAtributClasses(classes);
    }
}

