@using Neurino.Shared.UI.Pages

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(Main).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Nie znaleziono strony</p>
        </LayoutView>
    </NotFound>
</Router>